<%- include('../partials/header')%>

<section id="new-page">
    <h2>EDIT YOUR TRIP</h2>
  
    <form id='new-e-form' class="new-form" method="POST" action="/vacations/<%= vacation._id %>?_method=PUT">
      <main>
        <div class="new-titles">
          <h2>LOCATION:</h2>
          <h2>DATE RANGE:</h2>
          <h2>TRAVEL BUDDIES:</h2>
        </div>
        <div class="spacer"></div>
  
        <div class="new-vacation">
          <div class="new-form-ctr">
            <input class="new-location" type="text" name="location" value='<%=vacation.location%>' />
            <div id="date-inputs">
              <input id='new-depart' class="new-departure" type="date" name="departure" value='<%=d[0]%>-<%=d[1]%>-<%=d[2]%>'/>
              <p id="to">&nbsp;to&nbsp;</p>
              <input
              id="new-arrive"
                class="new-arrival"
                type="date"
                name="arrival"
                value= '<%=a[0]%>-<%=a[1]%>-<%=a[2]%>'
              />
            </div>
            <input
            id="new-companions"
              class="new-companions"
              type="text"
              name="companions"
              value= '<%=companionNames.slice(2)%>'
            />
          </div>
        </div>
      </main>
      <input type="hidden" name="userId" value=<%=user._id%>>
      <button class="enter" id="new-form-submit" type="submit">
        Accept Changes
      </button>
    </form>
  </section>

  <script>
    document.getElementById("new-e-form").onsubmit = checkDates;
    let usersArray = "<%=userArray%>";
    usersArray = usersArray.split(",");
    let user = '<%=user.username%>'


    
    function checkDates() {
      var departDate = document.getElementById("new-depart").value;
      var arriveDate = document.getElementById("new-arrive").value;
      let companions = document.getElementById("new-companions").value;
      
      if (departDate >= arriveDate) {
        alert("Return date should be after arrival date, idiot!");
        return false;
      }
      if(companions !== ''){
        companions = companions.split(/\s*,\s*/);
      let match;
      let duplicates = companions.filter((item, index) => companions.indexOf(item) !== index)
     duplicates = duplicates.join('')
  
      if(duplicates !== ''){
        alert("Duplicates found in travel bussies!");
        return false;
      }
      for (companion of companions) {
        if(companion === user){
          alert("Can't add youself as a travel buddy!");
          return false
        }
        match = usersArray.includes(companion);
        if(match === false){
          alert(`${companion} not found`);
          return false
        }
      }
    return true
    }
  }

  </script>

<%- include('../partials/footer')%>