<%- include('../partials/header')%>

<table id="list">
    <thead>
      <tr>
        <th>Location</th>
        <th>Dates</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     
      </tbody>
    </table><p>        <% vacations.forEach(f=>{ %>
    <div><%= f.location %></div>
    <div><%= f.arrival %></div>
    <div><%= f.departure %></div>
  <% }) %></p>

<%- include('../partials/footer')%>