<%- include('../partials/header')%> <%- include('../partials/test')%>

<section id="new-page">
  <h2>PLAN YOUR TRIP</h2>

  <form id="new-v-form" class="new-form" action="/vacations" method="POST">
    <main>
      <div class="new-titles">
        <h2>LOCATION:</h2>
        <h2>DATE RANGE:</h2>
        <h2>TRAVEL BUDDIES:</h2>
      </div>
      <div class="spacer"></div>

      <div class="new-vacation">
        <div class="new-form-ctr">
          <input class="new-location" type="text" name="location" required />
          <div id="date-inputs">
            <input
              id="new-depart"
              class="new-departure"
              type="date"
              name="departure"
              required
            />
            <p id="to">&nbsp;to&nbsp;</p>
            <input
              id="new-arrive"
              class="new-arrival"
              type="date"
              name="arrival"
              required
            />
          </div>
          <input
            id="new-companions"
            class="new-companions"
            type="text"
            name="companions"
            placeholder="username1, username2"
          />
        </div>
      </div>
    </main>
    <input type="hidden" name="userId" value="<%=user._id%>" />
    <button class="enter" id="new-form-submit" type="submit">
      Add Vacation
    </button>
    <a href="#" id="checkUser">???!</a>
  </form>
</section>

<script defer>
  let usersArray = "<%=userArray%>";
  usersArray = usersArray.split(",");
  let user = '<%=user.username%>'
  document.getElementById("new-v-form").onsubmit = checkDates;

 // const checkUserLink = document.getElementById("checkUser");
  //checkUserLink.addEventListener("click", testFetch);

//  async function testFetch(e) {
  //  e.preventDefault();
    //try {
      //const response = await fetch("http://localhost:3000/api/test");
     // const data = await response.json();
  //    console.log(data);
    //} catch (err) {
//      console.log(err);
//    }
//  }

  function checkDates(e) {
    var departDate = document.getElementById("new-depart").value;
    var arriveDate = document.getElementById("new-arrive").value;
    let companions = document.getElementById("new-companions").value;
    companions = companions.split(/\s*,\s*/);
    if (departDate >= arriveDate) {
      alert("Return date should be after arrival date, idiot!");
      return false;
    }
    let match;
    let duplicates = companions.filter((item, index) => companions.indexOf(item) !== index)
   
   
   duplicates = duplicates.join('')
    console.log(duplicates)


    if(duplicates !== ''){
      alert("Duplicates found in travel bussies!");
      return false;
    }
    for (companion of companions) {
      if(companion === user){
        alert("Can't add youself as a travel buddy!");
        return false
      }
      match = usersArray.includes(companion);
      if(match === false){
        alert("Invalid travel buddies!");
        return false
      }
    }
  return true
  }

</script>
<%- include('../partials/footer')%>

<!-- if (match === false) {
  alert("you're fucked");
  return false;
} -->




<!-- function checkUsers(companions) {
  let match;
  for (companion of companions) {
    match = false;
    for (user of usersArray) {
    while (match === false) {
        if (user === companion) {
          match = true;
        }
      }
    }
  }
  alert(match);
} -->

<!-- 
function checkUsers(companions) {
  let match;
  for (companion of companions) {
    match = usersArray.includes(companion);
    if(match === false){
      alert("you're fucked");
      return false
    }
  }
return true
} -->

