<%- include('../partials/header')%>

<h2>Test</h2>
    <body>
        <section id="show-page">
            <div>Location: 
            <%= vacation.location %></div>
            <div>Arrival Date: 
            <%= vacation.arrival.toLocaleDateString() %></div>
            <div>Departure Date: 
            <%= vacation.departure.toLocaleDateString() %></div>
            <div>Companions: 
            <%= vacation.companions %></div>
             <div>Activities: </div>
            <!-- <div><%= vacation.activities %></div> -->
          </section>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    
    <div id="main">
      <button class="openbtn" onclick="openNav()">☰ Add an Activity</button>  
    </div>
    
    <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>
       
    </body>

<%- include('../partials/footer')%>