<%- include('../partials/header')%>

<body>
  <section id="show-page">
    <div class="show-info">
    <h1><%=user.name.split(' ')[0].toUpperCase()%>'S TRIP TO <span class="monoton"><%= vacation.location.toUpperCase() %></span></h1>
    <div><span class="bold"><%=months[vacation.departure.getUTCMonth()].toUpperCase()%> <%=vacation.departure.getUTCDate()%>, <%= vacation.arrival.getFullYear()%></span> THROUGH <span class="bold"><%=months[vacation.arrival.getUTCMonth()].toUpperCase()%> <%=vacation.arrival.getUTCDate()%>, <%= vacation.arrival.getFullYear()%></span></div>
    <p class="dot">•</p>


    <%if(companionNames.length>0){%>
    <div>
      <%for(i=0; i<companionNames.length-1; i++){%>
      <span class="bold"><%= companionNames[i].toUpperCase() %></span>
      <%if(companionNames.length>2){%>
        ,
    <%}%>
      <%}%>
& <span class="bold"><%=companionNames[companionNames.length-1].toUpperCase()%></span> ARE COMING WITH YOU
    </div>
    <%}else{%>
      
      <div>NO REGISTERED TRAVEL BUDDIES</div>
      <%}%>
      
      <p class="dot">•</p>
    <%if(vacation.activities.length === 0){%>
      <div>NO ACTIVITES PLANNED YET</div>

    <%}else{%>
    <div>HERE'S WHAT YOU HAVE PLANNED</div>
    <%}%>
      <div class="activities-list">
        <%vacation.activities.forEach(function(activity){%>
        <%})%>
      </div>
    <div id="open-sidebar-ctr">
      <button class="openbtn details" onclick="openNav()">ADD AN ACTIVITY</button>
    </div>
    
    <form
    id="edit-vacation"
    method="GET"
    action="/vacations/<%= vacation._id %>/edit"
    >
    <button class="details openbtn">EDIT TRIP DETAILS</button>
  </form>
  </div>

  <!-- SIDE BAR -->
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <h2 class="add-activity">ADD AN ACTIVITY</h2>

    <form action="/vacations" method="POST">
      <div class="sidebar-content">
      <div class="sidebar-title-ctr">
      <h3 class="sidebar-title">ACTIVITY:</h3> 
      <h3 class="sidebar-title">DATE & TIME</h3> 
      <h3 class="sidebar-title">DESCRIPTION:</h3> 
    </div>
    
    <div class="sidebar-input-ctr">
  <input type="text" name="name"/>
<input id='date-activity' type="datetime-local" name="dateTime"/>
  <textarea rows="3" name="description"></textarea>
    </div>
  </div>
  <button class='details activity-btn' type="submit">SUBMIT</button>
    
    </form>
  </div>




</section>
<!-- sidebar script -->
<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "350px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
  }
</script>
</body>

<%- include('../partials/footer')%>

<!-- dates display early -->
