<%- include('../partials/header')%>

<body>
  <section id="show-page">
    <div class="show-info">
    <h1><%=user.name.split(' ')[0].toUpperCase()%>'S TRIP TO <span class="monoton"><%= vacation.location.toUpperCase() %></span></h1>
    <div><%=vacation.departure.toLocaleDateString()%> THROUGH <%= vacation.arrival.toLocaleDateString() %></div>
    <p class="dot">•</p>

    <div>
      <%for(i=0; i<companionNames.length-1; i++){%>
      <%= companionNames[i].toUpperCase() %>
      <%if(companionNames.length>2){%>
        ,
    <%}%>
      <%}%>
& <%=companionNames[companionNames.length-1].toUpperCase()%> ARE COMING WITH YOU
    </div>
      <p class="dot">•</p>
    <%if(vacation.activities.length === 0){%>
      <div>NO ACTIVITES PLANNED</div>

    <%}else{%>
    <div>HERE'S WHAT YOU HAVE PLANNED</div>
    <%}%>
      <div class="activities-list">
        <%vacation.activities.forEach(function(activity){%>
        <%})%>
      </div>
    <div id="open-sidebar-ctr">
      <button class="openbtn details" onclick="openNav()">ADD AN ACTIVITY</button>
    </div>
    
    <form
    id="edit-vacation"
    method="GET"
    action="/vacations/<%= vacation._id %>/edit"
    >
    <button>Edit</button>
  </form>
  </div>

  <!-- SIDE BAR -->
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <form action="/vacations" method="POST">
      <label>Where are you going? <input type="text" name="location" /> </label
      ><br />

      <label>Arrival Date: <input type="date" name="arrival" /> </label><br />

      <label>Departure Date: <input type="date" name="departure" /> </label
      ><br />

      <button type="submit">Add Vacation</button>
    </form>
  </div>




</section>
<!-- sidebar script -->
<script>
  function openNav() {
    document.getElementById("mySidebar").style.width = "250px";
    document.getElementById("main").style.marginLeft = "250px";
  }

  function closeNav() {
    document.getElementById("mySidebar").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
  }
</script>
</body>

<%- include('../partials/footer')%>

<!-- dates display early -->
